.home {
    width: 100%;
    padding-top: 85px;
  }
  
  // Hero Section
  .hero {
    position: relative;
    background-color: var(--text-color);  
    padding: 100px 20px;
    text-align: center;
    color: var(--commantext-color);
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../public/image/bgcolor.jpg");
      background-size: cover;
      background-position: center;
      opacity: 0.3;  
      z-index: 1;
    }
  
    .heroContent {
      position: relative;
      max-width: 800px;
      margin: 0 auto;
      z-index: 2; 
  
      h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 1.2rem;
        margin-bottom: 40px;
      }
  
      .heroButtons {
        display: flex;
        justify-content: center;
        gap: 20px;
  
        .primaryBtn {
          background-color: var(--primary-color);
          color: var(--commantext-color);
          padding: 10px 20px;
          border-radius: 5px;
          text-decoration: none;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: var(--bg-color);
          }
        }
  
        .secondaryBtn {
          background-color: var(--commantext-color);
          color: var(--primary-color);
          padding: 10px 20px;
          border-radius: 5px;
          text-decoration: none;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: var(--background-color);
          }
        }
      }
    }
  
    @media screen and (min-width: 300px) {
      .heroButtons {
        flex-direction: column;
      }
    }
  
    @media screen and (min-width: 600px) {
      .heroButtons {
        flex-direction: row;
      }
    }
  
    @media screen and (min-width: 1024px) {
      .heroButtons {
        flex-direction: row;
      }
    }
  }
  
  
  // Services Section
  .services {
    padding: 80px 20px;
    text-align: center;
 background-color: var( --ogbackground-color);
    h2 {
      font-size: 1.5rem;
      margin-bottom: 40px;
      color: var(--text-color);
    }
  
    .serviceCards {
        width: 85%;
        margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 20px;
  
      .card {
        background-color: var(--card-color);
        padding: 20px;
        border-radius: 10px;
      
        border: 2px solid var(--commantext-color);
  .serviceHead{
    display: flex;
 
    gap: 10px;
    .serviceIcon{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--card-color);
        padding: 1rem;
        border-radius: 50%;
        border: 2px solid var(--commantext-color);
        
    }
    .serviceTitle{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
        h3 {
            font-size: 1.5rem;
            font-weight: 700;
        //   margin-bottom: 10px;
          color: var(--text-color);
        }
  
        p {
          margin-bottom: 20px;
          color: var(--subtext-color);
          font-weight: 300;
          padding: 25px 0 32px;
          text-align: start;
          line-height: 2;
          display: inline-block;
          border-bottom: 1px solid var(--commantext-color);
        }
  .servieReadmore{
   text-align: start;
    .learnMoreBtn {
         
        font-size: 15px;
        color: var(--subtext-color);
      text-decoration: none;
        text-align: start;
      &:hover {
       color: var(--bg-color);
      }
    }
  }
        
      }
    }
  
  
    @media screen and (min-width : 300px) {
        .serviceCards{
            flex-direction: column;
            .card{
                width: 100%;
                .serviceIcon{
                    img{
                        width: 30px;
                        height: 30px;
                    }

                }
            }
        }
    }
    @media screen and (min-width : 600px) {
        .serviceCards{
            flex-direction: column;
            .card{
                width: 100%;
            }
        }
    }
    @media screen and (min-width : 1024px) {
        .serviceCards{
            flex-direction: row;
            .card{
                width: calc(50% - 20px);
            }
        }
    }
  }
  
  // Testimonials Section
  .testimonials {
    padding: 80px 20px;
    background-color: var(--ogbackground-color);
    text-align: center;
  
    h2 {
        font-size: 1.5rem;
        margin-bottom: 40px;
        color: var(--text-color);
      }
  
    .testimonialCards {
        width: 85%;
        margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 20px;
  
      .testimonialCard {
        background-color: var(--card-color);
        padding: 20px;
        border-radius: 10px; 
        border: 2px solid var(--commantext-color);
        
  
        p {
           
         
          color: var(--subtext-color);
          line-height: 32px; 
          font-style: inherit;
          padding: 5px 0 0;
          text-align: start;
          font-weight: 300;
        }
  
        h4 {
          margin-top: 20px;
          font-size: 1.5rem;
          font-weight: 300;
          color: var(--text-color);
        }
  
        span {
          color: var(--span-color);  
          font-size: 1rem;
          text-transform: capitalize;
        }
      }
    }
  
    @media screen and (min-width : 300px) {
        
        .testimonialCards{
            flex-direction: column;
            .testimonialCard{
                width: 100%;
                p{
                    font-size: 1rem;
                }
            }
        }
    }
    @media screen and (min-width : 600px) {
        .testimonialCards{
            flex-direction: column;
            .testimonialCard{
                width: 100%;
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
    @media screen and (min-width : 1024px) {
        .testimonialCards{
            flex-direction: row;
            .testimonialCard{
                width: calc(50% - 20px);
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
  }
  
  // Call-to-Action Section
  .callToAction {
    padding: 80px 20px;
    text-align: center;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 40px;
    }
  
    .ctaButtons {
      display: flex;
      justify-content: center;
      gap: 20px;
  
      .primaryBtn,
      .secondaryBtn {
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
      }
  
      .primaryBtn {
        background-color: var(--primary-color);
        color: var(--commantext-color);
        &:hover {
          background-color: var(--bg-color);
        }
      }
  
      .secondaryBtn {
        background-color: var(--commantext-color);
        color: var(--primary-color);
        &:hover {
          background-color: var(--background-color);
        }
      }
    }
  
    @media (max-width: 768px) {
      .ctaButtons {
        flex-direction: column;
        gap: 10px;
      }
    }
  
    @media (max-width: 480px) {
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  